:root {
    /*** Primary ***/
    --feet-in-the-water: rgba(229, 236, 255, 0.6);

    --coastal-shore: #4293F3;

    --swimm-blue: #1847de;

    --quick-dive: #053c86;

    --deep-sea: #0c2739;

    /*** Neutral ***/
    --clear-white: #ffffff;

    --wash-me: #f4f5f7;

    --pearl-river: #e7e7e7;

    --harbor-gray: #dad7d7;

    --fifty-shades: #c1c7d0;
    --fifty-shades-500: #c1c7d080;

    --high-tide: #6a6b6c;
    --high-tide-500: #6a6b6c80;

    --gravel-rocks: #515151;

    --sea-anchor: #343434;

    --dark-charcoal: #212121;

    /*** Accent ***/

    --safe-zone: #f3e2fd;

    --wide-awake: #eecdfc;

    --high-violet: #c558f5;

    --wave-jammer: #a31177;

    --wild-ultra: #3d274a;

    --fake-caffe-sheva: #b5fee6;
    --fake-caffe-sheva-500: #b5fee680;

    /*** Semantic ***/
    --success-green-900: #193821;
    --success-green-700: #077025;
    --success-green-500: #2ea44f;
    --success-green-300: #2ea44f4d;
    --success-green-100: #ebf6ee;
    --success-green: var(--success-green-500);

    --warning-yellow-900: #544b2c;
    --warning-yellow-700: #edbf1c;
    --warning-yellow-500: #ffd33d;
    --warning-yellow-300: #ffd33d4d;
    --warning-yellow-200: #ffd33d33;
    --warning-yellow-100: #fff9dc;
    --warning-yellow: var(--warning-yellow-500);

    --oh-no-red-900: #3b1316;
    --oh-no-red-700: #ab0101;
    --oh-no-red-500: #d84a4a;
    --oh-no-red-300: #cb24314d;
    --oh-no-red-200: #cb243133;
    --oh-no-red-100: #fae9ec;
    --oh-no-red: var(--oh-no-red-500);

    /*** Gradients ***/
    --primary-gradient-from: #b958f0;
    --primary-gradient-to: #0c68ff;
    --primary-gradient: radial-gradient(
        81.39% 140.38% at 83.61% -16.79%,
        var(--primary-gradient-from) 30.43%,
        var(--primary-gradient-to) 81.53%
    );

    --gradient-from: #b3ffe6;
    --gradient-middle: #b2ffe5;
    --gradient-to: #e4edff;
    --gradient: radial-gradient(
        76.75% 76.75% at 70% 23.25%,
        var(--gradient-from) 0%,
        var(--gradient-middle) 0.01%,
        var(--gradient-to) 100%
    );

    /*** Shadows ***/
    --box-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.2);
    --box-shadow-medium: 0 1px 8px rgba(0, 0, 0, 0.2);
    --box-shadow-big: 0 12px 18px rgba(0, 0, 0, 0.12), 0 5px 22px rgba(0, 0, 0, 0.16), 0 7px 8px rgba(0, 0, 0, 0.2);
}

body {
    color: var(--text-color-primary);
}
