:root {
    /*** Primary ***/
    --clear-white: #ffffff;
    --clear-white-750: #ffffffbf;
    --clear-white-650: #ffffffa6;
    --clear-white-100: #ffffff1a;

    --feet-in-the-water: #e5ecff;
    --feet-in-the-water-500: #e5ecff80;

    --safe-zone: #f3e2fd;

    --swimm-blue: #0968ff;
    --swimm-blue-100: #0968ff1a;

    --quick-dive: #053c86;

    --deep-sea: #0c2739;

    /*** Neutral ***/
    --wash-me: #f4f5f7;
    --wash-me-500: #f4f5f780;

    --fifty-shades: #c1c7d0;
    --fifty-shades-500: #c1c7d080;

    --high-tide: #6a6b6c;
    --high-tide-500: #6a6b6c80;

    /*** Accent ***/
    --fake-caffe-sheva: #b5fee6;
    --fake-caffe-sheva-500: #b5fee680;

    --high-violet: #c558f5;

    --wave-jammer: #b6248a;

    /*** Semantic ***/
    --success-green: #2ea44f;
    --success-green-300: #2ea44f4d;
    --success-green-100: #2ea44f1a;

    --warning-yellow: #ffd33d;
    --warning-yellow-300: #ffd33d4d;
    --warning-yellow-200: #ffd33d33;
    --warning-yellow-100: #ffd33d1a;

    --oh-no-red: #cb2431;
    --oh-no-red-300: #cb24314d;
    --oh-no-red-200: #cb243133;
    --oh-no-red-100: #cb24311a;

    /*** Gradients ***/
    --blue-violet-from: #b958f0;
    --blue-violet-to: #0c68ff;
    --blue-violet: radial-gradient(
        81.39% 140.38% at 83.61% -16.79%,
        var(--blue-violet-from) 30.43%,
        var(--blue-violet-to) 81.53%
    );

    --gradient-from: #b3ffe6;
    --gradient-middle: #b2ffe5;
    --gradient-to: #e4edff;
    --gradient: radial-gradient(
        76.75% 76.75% at 70% 23.25%,
        var(--gradient-from) 0%,
        var(--gradient-middle) 0.01%,
        var(--gradient-to) 100%
    );
}

body {
    color: var(--deep-sea);
}

.box-shadow-small {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.box-shadow-medium {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
}

.box-shadow-big {
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.12), 0px 5px 22px rgba(0, 0, 0, 0.16), 0px 7px 8px rgba(0, 0, 0, 0.2);
}
