[data-theme="dark"] {
    --color-bg: var(--dark-charcoal);
    --color-surface: var(--sea-anchor);
    --color-hover: var(--gravel-rocks);
    --color-selected: var(--gravel-rocks);
    --color-invert: var(--clear-white);

    --color-brand: var(--coastal-shore);
    --color-brand-hover: var(--swimm-blue);
    --color-disable: var(--gravel-rocks);
    --color-error: var(--oh-no-red-900);
    --color-success: var(--success-green-900);
    --color-warning: var(--warning-yellow-900);
    --color-autosync: var(--wild-ultra);
    --color-info: var(--sea-anchor);
    --color-label-tag: var(--high-tide);
    --text-color-on-light: var(--deep-sea);

    --text-color-primary: var(--pearl-river);
    --text-color-secondary: var(--fifty-shades);
    --text-color-link: var(--coastal-shore);
    --text-color-on-primary: var(--clear-white);
    --text-color-invert: var(--deep-sea);
    --text-color-disable: var(--high-tide);
    --text-color-accent: var(--high-violet);
    --text-color-on-error: var(--oh-no-red-500);
    --text-color-on-success: var(--success-green-500);
    --text-color-on-warning: var(--warning-yellow-500);

    --border-color-primary: var(--harbor-gray);
    --border-color-secondary: var(--fifty-shades);
    --border-color-input: var(--gravel-rocks);
    --border-color-focus: var(--coastal-shore);
    --border-color-error: var(--oh-no-red-500);
    --border-color-subtle: var(--gravel-rocks);

    --color-decorative-1: var(--swimm-blue);
    --color-decorative-2: var(--feet-in-the-water);
    --color-decorative-3: var(--fake-caffe-sheva);
    --color-decorative-4: var(--high-violet);
    --color-decorative-5: var(--deep-sea);
    --color-decorative-6: var(--warning-yellow-500);

    --color-code-error-sandwich: var(--oh-no-red-900);
    --color-code-error-meat: var(--oh-no-red-700);
    --color-code-autosync-sandwich: var(--wild-ultra);
    --color-code-autosync-meat: var(--wave-jammer);

    color: var(--text-color-primary);
}
