:root {
    --color-bg: var(--clear-white);
    --color-surface: var(--wash-me);
    --color-hover: var(--pearl-river);
    --color-selected: var(--deep-sea);
    --color-invert: var(--dark-charcoal);

    --color-primary-default: var(--swimm-blue);
    --color-primary-hover: var(--quick-dive);
    --color-secondary-default: var(--clear-white);
    --color-secondary-hover: var(--pearl-river);
    --color-disable: var(--wash-me);
    --color-error: var(--oh-no-red-100);
    --color-success: var(--success-green-100);
    --color-warning: var(--warning-yellow-100);
    --color-autosync: var(--safe-zone);
    --color-info: var(--feet-in-the-water);
    --color-label-tag: var(--fifty-shades);
    --text-color-on-light: var(--deep-sea);
    /* --color-plan-free: var(--TBD);
    --color-plan-team: var(--TBD);
    --color-plan-enterprise: var(--TBD);
    --color-plan-opensource: var(--TBD);
    --color-label-tags: var(--TBD);
    --color-label-shortcut: var(--TBD); */

    --text-color-primary: var(--deep-sea);
    --text-color-secondary: var(--high-tide);
    --text-color-link: var(--swimm-blue);
    --text-color-on-primary: var(--clear-white);
    --text-color-invert: var(--clear-white);
    --text-color-disable: var(--fifty-shades);
    --text-color-accent: var(--high-violet);
    --text-color-on-error: var(--oh-no-red-500);
    --text-color-on-success: var(--success-green-500);
    --text-color-on-warning: var(--warning-yellow-500);
    --text-color-on-placeholder: var(--fifty-shades);

    --border-color-primary: var(--deep-sea);
    --border-color-secondary: var(--high-tide);
    --border-color-input: var(--fifty-shades);
    --border-color-focus: var(--swimm-blue);
    --border-color-error: var(--oh-no-red-500);

    --color-decorative-1: var(--swimm-blue);
    --color-decorative-2: var(--feet-in-the-water);
    --color-decorative-3: var(--fake-caffe-sheva);
    --color-decorative-4: var(--high-violet);
    --color-decorative-5: var(--deep-sea);

    --color-doc-cover: var(--feet-in-the-water);
    --color-code-error-sandwich: var(--oh-no-red-100);
    --color-code-error-meat: var(--oh-no-red-300);
    --color-code-autosync-sandwich: var(--safe-zone);
    --color-code-autosync-meat: var(--wide-awake);
}
